@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

input[type="number"] {
    -moz-appearance: textfield;  /* Firefox */
    -webkit-appearance: none;    /* Chrome, Safari, Edge */
    appearance: none;            /* Other modern browsers */
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addProducttextarea::-webkit-scrollbar{
  background:rgba(255, 255, 255, 0);
  width: 6px;
}

.addProducttextarea::-webkit-scrollbar-thumb{
  background:#15803d;
  border-radius: 15px;
  box-shadow: -2px 0px 0px 0px inset rgb(255, 255, 255);
  z-index: -10;
  padding-top: 10px;
}

html {
  scroll-padding-bottom: 10rem; /* Adjust to offset the field */
}